:root {
  --primery-text-color: #2e2f42;
  --secondery-text-color: #434455;
  --brand-color: #4d5ae5;
  --pressed-color: #404bbf;
  --light-color: #f4f4fd;
  --wigth-color: #ffffff;
  --accent: #e7e9fc;
  --dairy: #fcfcfc;
  --GREEN: #31d0aa;
  --light-slate: #8e8f99;
  --primery-text: 'Roboto', sans-serif;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*=========COMPONENTS======*/
.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}
/* Tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 767px;
    padding: 0 16px;
  }
}
/* Desktop screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
.hide {
  display: none;
}
.suptitle {
  color: var(--primery-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
}

@media only screen and (min-width: 1158px) {
  .section-description {
    font-weight: 400;
    align-self: auto;
  }
}
.menu-link {
  display: block;
  position: relative;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primery-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-color);
}
.top-title {
  color: var(--primery-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding: 25.5px 0;
  color: var(--brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
.logo-studio {
  display: inline-flex;
  align-items: center;
  margin-right: auto;
  font-family: Raleway, sans-serif;
  color: var(--primery-text-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/*==========Sosials=========*/

.socials-item {
  width: 8;
  height: 8;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

/*==========/Sosials=========*/

/*==========/COMPONENTS========*/

/*=========HEADER=======*/
.page-nav {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  background: var(--wigth-color);
}

.menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 40px;
  }
}
@media only screen and (min-width: 1158px) {
  .menu {
    display: flex;
    gap: 40px;
  }
}
.menu-link.current {
  color: var(--pressed-color);
}
.menu-link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  display: block;
  border-radius: 2px;
  background-color: var(--pressed-color);
}
.contact-address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: none;
}
@media only screen and (min-width: 768px) {
  .address-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    gap: 40px;
  }
}
.contact-mail-number {
  display: flex;
  gap: 40px;
  color: var(--secondery-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-mail-number:hover,
.contact-mail-number:focus {
  color: var(--pressed-color);
}
.header-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  padding: 0;
  border: none;
}
@media only screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}
.header-menu-icon {
  stroke: black;
}
/*============/HEADER=========*/

/*============HERO============*/

.section-hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/mbi@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/mbil@2x.jpg');
  }
}
@media only screen and (min-width: 768px) .hero-container {
  min-height: 890px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/tab@1x.jpg');
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/tab@x.jpg');
  }
}
@media only screen and (min-width: 1168px) {
  .hero-container {
    min-height: 600px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/peopleoffice1.jpg');
  }
}
@media only screen and (min-width: 1168px) and (min-resolution: 192dpi),
  (min-width: 1168px) and (min-device-pixel-ratio: 2) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/people-officedesk@2x.jpg');
  }
}

.hero-title {
  width: 320px;
  color: var(--WHITE, #fff);
  text-align: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin: 0 auto;
  padding-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    padding-bottom: 36px;
    width: 496px;
    font-size: 56px;
    max-width: 496px;
    line-height: 1.07;
    letter-spacing: 1.12px;

    padding-bottom: 48px;
  }
}
.page-button {
  font-family: 'Roboto', sans-serif;
  color: var(--wigth-color);
  background: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-button:hover,
.page-button:focus {
  background: var(--pressed-color);
  border-radius: 4px;
}
/*============/HEARO==========*/

/*============ADVANTAGES=======*/
.section {
  padding: 96px 0;
}

.adventages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.adventages-item {
  width: 396px;
}
@media only screen and (min-width: 768px) {
  .adventages-item {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .adventages-item {
    flex-wrap: wrap;
    width: calc((100% - 72px) / 4);
    text-align: -webkit-match-parent;
  }
}

.advantage-title {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: var(--primery-text-color);

  font-size: 36px;

  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .advantage-title {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1158px) {
  .advantage-title {
    font-size: 20px;

    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}
.suptitle.advantage-title {
  text-align: -webkit-match-parent;
}

.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--light-color);
  margin-bottom: 8px;
}
@media only screen and (max-width: 1158px) {
  .benefits-wrapper {
    display: none;
  }
}
/*============/ADVANTAGES=======*/
/*============About============*/
.section-about {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .section-about {
    display: flex;
    padding-bottom: 120px;
  }
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-item {
  width: calc((100% - 24px * 2) / 3);
}
/*============/About============*/

/*============TEAM============*/

.section.information-section {
  background-color: var(--light-color);
}
.information-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .information-list {
    gap: 64px 24px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (min-width: 1158px) {
  .information-list {
    gap: 24px;
    margin: 0 auto;
  }
}
.team-name {
  padding: 32px 0;
}
.information-iteam {
  width: 264px;
  background-color: var(--wigth-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .information-iteam {
  }
}
@media only screen and (min-width: 1158px) {
  .information-iteam {
    width: 264px;
    height: 428px;
    background-color: var(--wigth-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 24px * 3) / 4);
  }
}
.suptitle.team-title {
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  text-align: center;
}
.socials-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  padding-top: 8px;
  display: flex;
  gap: 24px;
}
.socials-link-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link-team:hover,
.socials-link-team:focus {
  border-radius: 50%;
  background-color: var(--pressed-color);
}

/*============/TEAM===========*/
/*=============Customers==========*/
.customers {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .customers {
    padding: 120px 0;
  }
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-iteam {
  width: 190px;
  height: 88px;
  width: calc((100% - 16px * 1) / 2);
}
@media only screen and (min-width: 768px) {
  .customers-iteam {
    width: 168px;
    height: 88px;
    width: calc((100% - 24px * 2) / 3);
  }
}
@media only screen and (min-width: 1158px) {
  .customers-iteam {
    width: 168px;
    height: 88px;
    width: calc((100% - 24px * 5) / 6);
  }
}

.customers-icons-iteam {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
.customers-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  fill: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icons-link:hover,
.customers-icons-link:focus {
  fill: var(--pressed-color);
  border-radius: 4px;
  border: 1px solid var(--pressed-color);
  color: var(--pressed-color);
}
/*=============/Customers========*/
/*============FOOTER==========*/

.footer {
  padding: 96px 0;
  background-color: var(--primery-text-color);
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.container-footer {
  display: block;
  text-align: center;
  min-width: 320px;
  max-width: 428px;
}
@media only screen and (max-width: 767px) {
  .contaniar-footer {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 767px) {
  .container-footer {
    display: flex;
    gap: 72px 24px;
    max-width: 768px;
    flex-wrap: wrap;
    padding: 0px 108px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .contaniar-footer {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 1158px;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-container {
    display: block;
    margin-right: 120px;
  }
}
.section-description.dark {
  width: 268px;
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: left;
  margin: 0 auto;
}
.logo-footer {
  display: block;
  text-align: center;
  color: var(--brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .logo-footer {
    text-align: left;
  }
}
.dark {
  color: var(--light-color);
}

.footer-logo-container {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-logo-container {
    margin-bottom: 0;
  }
}

.footer-address-subject {
  margin-bottom: 16px;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--wigth-color);
}
@media only screen and (min-width: 768px) {
  .footer-address-subject {
    text-align: left;
  }
}
.socials-footer {
  display: flex;
  gap: 16px;
  align-content: center;
  justify-content: center;
}
.footer-address-wrapper {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-address-wrapper {
    margin: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-address-wrapper {
    margin-right: auto;
  }
}
.footer-form-div {
  max-width: 453px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .footer-form-div {
    display: inline-block;
    width: 453px;
    height: 80px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form-div {
    display: block;
    width: 453px;
    height: 80px;
  }
}
.socials {
  display: flex;
  gap: 24px;
}
.socials-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  border-radius: 50%;
  background-color: var(--GREEN);
}
.socials-icon {
  fill: var(--light-color);

  transition: fill var(--fast-trns);
}
.subscribe {
  color: var(--wigth-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .subscribe {
    text-align: left;
    padding-bottom: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    gap: 24px;
  }
}
.footer-label {
  display: block;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-label {
    flex-grow: 1;
    margin: 0;
  }
}
.footer-form-input {
  width: 100%;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  color: var(--wigth-color);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--wigth-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;
}
.placeholder {
  color: var(--wigth-color);
}

.btn-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 4px;
  background: var(--brand-color);
  color: var(--wigth-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}
.footer-btn-icon {
  fill: var(--wigth-color);
}

/*=============/FOOTER=========*/
/*=============Modal window======*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-image: linear-gradient(
    rgba(46, 47, 66, 0.4),
    rgba(46, 47, 66, 0.4)
  );
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: var(--dairy);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  fill: var(--wigth-color);
  border: none;
  border-radius: 50%;
  background-color: var(--pressed-color);
}
.modal-caption {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 16px;

  color: var(--primery-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.form-box {
  margin-bottom: 8px;
}
.form-box-comment {
  margin-bottom: 16px;
}
.form-label {
  display: block;
  margin-bottom: 4px;

  color: var(--light-slate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.modal-form {
  align-items: center;
}
.form-input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-radius: 4px;
  border: 1px solid var(--IRIS, #4d5ae5);
}
.form-field {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--primery-text-color);

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
  fill: var(--brand-color);
}
.form-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  resize: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment::placeholder {
  color: var(--light-slate);
}
.form-checkbox {
  margin-bottom: 24px;
}
.form-comment:focus {
  border-radius: 4px;
  border: 1px solid var(--brand-color);
}

.form-agreement {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  fill: transparent;
  background-color: transparent;
  flex-shrink: 0;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .form-agreement .custom-checkbox {
  fill: var(--light-color);
  background-color: var(--pressed-color);
  border: none;
  border-color: transparent;
}

input[type='checkbox']:checked + .custom-checkbox > .custom-checkbox-icon {
  fill: var(--wigth-color);
}
.form-agreement-link {
  margin-left: 4px;
  text-decoration-line: underline;
  color: var(--brand-color);
  font-size: 12px;

  line-height: 16px;
  letter-spacing: 0.48px;
}
.form-agreement {
  display: block;
  color: var(--light-slate);

  font-size: 12px;

  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  user-select: none;
}

/*=============/Modal window======*/
.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--wigth-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.menu-toggle-icon {
  stroke: #2e2f42;
}
.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-size: 36px;
  color: var(--primery-text-color);
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
@media only screen and (max-width: 428px) {
  .socials-footer.social {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 428px) {
  .socials-footer.social {
    gap: 56px;
  }
}

.mobile-menu-link.current {
  color: var(--pressed-color);
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-contatcs-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-contacts-link {
  color: var(--SLATE, #434455);

  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.mobile-contacts-link.active {
  color: var(--IRIS, #4d5ae5);

  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
@media only screen and (min-width: 428px) {
  .mobile-contacts-link.active {
    font-size: 36px;
  }
}

/*===============PORTFOLIO======*/
.section-filter {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-button {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--light-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--accent);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--wigth-color);
  background: var(--pressed-color);
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.container-menu {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}
.example-item {
  border: 1px solid var(--accent);
  background: var(--wigth-color);
  width: calc((100% - 24px * 2) / 3);
  max-width: 360px;
}

.example-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.suptitle.example-title {
  margin-bottom: 8px;
  margin-left: 16px;
  text-align: left;
}
.section-description.example {
  margin-left: 16px;
  text-align: left;
}

.example-thumb {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--brand-color);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-link:hover .overlay-text {
  transform: translateY(0%);

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.example-link:focus .overlay-text {
  transform: translateY(0%);
}
.example-link:focus,
.example-link:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/*==============/PORTFOLIO=======*/
